:root {
    --red: #d63031;
    --blue: #1289A7;
    --green: #009432;
    --yellow: #f39c12;
    --white: white;
    --gray: #aaa;
    --black: black;
    --bg: #222;
    --ligh-bg: #333;
}

* {
    box-sizing: border-box;
}

body {
    background: var(--bg);
    font-family: sans-serif;
}

main {
    max-width: 600px;
}

.todo-container {
    margin: 0 auto;
}

.todo-form {
    box-shadow: 0 0 3px rgba(0,0,0, 1);
    padding: 1.25em;
    color: var(--white);
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.todo-form-label {
    font-size: 1.25em;
    flex-basis: 100%;
}

.todo-form-message {
    padding: 1.25em;
    width: 100%;
    background-color: var(--ligh-bg);
    border: 1px solid var(--black);
    margin: 1.25em 0;
    color: var(--white);
    resize: none;
    outline: none;
}

/* Button styles */
.button {
    background: var(--blue);
    color: var(--white);
    border: 0;
    border-radius: 0.625em;
    transition: .4s all;
    cursor: pointer;
    text-decoration: none;
    margin: 5px;
    padding: 0.625em 1.25em;
}

.button:hover {
    background: var(--green);
    transform: scale(.9);
    box-shadow: inset 0 0 0.625em rgba(0,0,0, .5);
}

.button--search{
    position: absolute;
    margin: 0;
    right: 0;
    border-radius: 0.625em 0 0 0.625em;
}

.button--search:hover{
    padding: 0.625em 30px;
    transform: none;
}

.button--add {
    display: block;
    margin: 1.25em auto;
    width: 200px;
}

.button--menu {
    border-radius: 0;
}

/* Todo list, item styles */
.todo-list-container {
    background: var(--bg);
    margin: 1.25em auto;
    box-shadow: 0 0 3px rgba(0,0,0, 1);
    padding: 1.25em;
    color: var(--white);
}

.todo-list-header {
    text-align: center;
}

.task-list-bar {
    margin: 1.25em 0;
}

.todo-list-search-form {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    position: relative;
}

.todo-list-search {
    outline: none;
    border: 1px solid var(--black);
    background-color: var(--ligh-bg);
    padding: 0.625em;
    color: var(--white);
    width: 100%;
}

.todo-list-title,
.todo-item-title {
    font-size: 1.25em;
    text-transform: uppercase;
}

.todo-item-title {
    margin: 0;
}

.todo-item {
    margin-top: 1.25em;
    padding: 0 0.625em;
    border-top: 1px dashed var(--gray);
    border-radius: 0.625em;
}

.todo-item.--hide {
    display: none;
}

.todo-item-bar,
.todo-item-header,
.todo-menu-bar {
    display: flex;
    align-items: center;
    margin: 0.625em 0;
}

.todo-item-bar {
    justify-content: space-between;
}

.todo-menu-bar {
    justify-content: center;
}

.todo-item-date {
    margin: 0;
    font-size: 1.25em;
    font-weight: normal;
}

.todo-item-delete,
.todo-item-edit,
.todo-item-show  {
    color: var(--yellow);
    font-size: 1.5em;
    cursor: pointer;
    transition: .4s all;
}

.todo-item-show {
    color: var(--blue);
}

.todo-item-edit {
    margin: 0 0.625em;
    text-decoration: none;
}

.todo-item-show:hover,
.todo-item-edit:hover,
.todo-item-delete:hover {
    transform: scale(.9);
}

.todo-item-delete:hover {
    color: var(--red);
}

.todo-item-edit:hover {
    color: var(--green);
}

.todo-item-text {
    color: var(--gray);
    font-size: 0.9em;
}

/* Message styles */
.messages ul {
    color: var(--white);
    list-style-type: none;
    padding: 0;
}

.msg{
	border-radius: 0.625em;
	padding: 1.25em;
	margin-bottom: 0.625em;
}

.error{
    background: var(--red);
}

.warning{
    background: var(--yellow)
}

.info{
    background: var(--green)
}