* {
    box-sizing: border-box;
}

body {
    background: #222;
    font-family: sans-serif;
}

main {
    max-width: 600px;
}

.todo-container {
    margin: 0 auto;
}

.todo-form {
    box-shadow: 0 0 3px rgba(0,0,0, 1);
    padding: 20px;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.todo-form-label {
    font-size: 1rem;
    flex-basis: 100%;
}

.todo-form-message {
    padding: 20px;
    width: 100%;
    background-color: #333;
    border: 1px solid black;
    margin: 20px 0;
    color: white;
    resize: none;
    outline: none;
}

.button {
    background: #1289A7;
    color: white;
    border: 0;
    border-radius: 10px;
    transition: .4s all;
    cursor: pointer;
    text-decoration: none;
    margin: 5px;
    padding: 10px 20px;
}

.button:hover {
    background: #009432;
    transform: scale(.9);
    box-shadow: inset 0 0 10px rgba(0,0,0, .5);
}

.button--search{
    position: absolute;
    margin: 0;
    right: 0;
    border-radius: 10px 0 0 10px;
}

.button--search:hover{
    padding: 10px 30px;
    transform: none;
}

.button--add {
    display: block;
    margin: 20px auto;
    width: 200px;
}

.button--menu {
    border-radius: 0;
}

.todo-list-container {
    background: #222;
    margin: 20px auto;
    box-shadow: 0 0 3px rgba(0,0,0, 1);
    padding: 20px;
    color: white;
}

.todo-list-header {
    text-align: center;
}

.task-list-bar {
    margin: 20px 0;
}

.todo-list-search-form {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    position: relative;
}

.todo-list-search {
    outline: none;
    border: 1px solid black;
    background-color: #333;
    padding: 10px;
    color: white;
    width: 100%;
}

.todo-list-title,
.todo-item-title {
    font-size: 1rem;
    text-transform: uppercase;
}

.todo-item-title {
    margin: 0;
}

.todo-item {
    margin-top: 20px;
    padding: 20px 0;
    border-top: 1px dashed #aaa;
}

.todo-item.--hide {
    display: none;
}

.todo-item-bar,
.todo-item-header,
.todo-menu-bar {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.todo-item-bar {
    justify-content: space-between;
}

.todo-menu-bar {
    justify-content: center;
}

.todo-item-date {
    margin: 0;
    font-size: 1rem;
    font-weight: normal;
}

.todo-item-delete,
.todo-item-edit  {
    color: #f39c12;
    font-size: 1.5rem;
    cursor: pointer;
    transition: .4s all;
}

.todo-item-edit {
    margin: 0 10px;
    text-decoration: none;
}

.todo-item-delete:hover {
    color: #d63031;
    transform: scale(.8);
}

.todo-item-edit:hover {
    color: #009432;
    transform: scale(.8);
}

.todo-item-text {
    color: #aaa;
    font-size: 0.9rem;
}

.messages { }
.messages ul { list-style-type: none; padding: 0; }
.msg{
	border-radius: 0.5em;
	padding: 1em;
	margin-bottom: 0.5em;
	box-shadow: 0.2em 0.2em 0.4em #ccc;
}
.error{	background-color: #f88; }
.warning{ background-color: #fd2; }
.info{ background-color: #afa; }

.bottom-margin{
	margin-bottom: 1em;
}

.top-margin{
	margin-top: 1em;
}

.button-success,
.button-error,
.button-warning,
.button-secondary {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-success {
    background: rgb(28, 184, 65); /* this is a green */
}

.button-error {
    background: rgb(202, 60, 60); /* this is a maroon */
}

.button-warning {
    background: rgb(223, 117, 20); /* this is an orange */
}

.button-secondary {
    background: rgb(66, 184, 221); /* this is a light blue */
}

.button-xsmall {
    font-size: 70%;
}

.button-small {
    font-size: 85%;
}

.button-large {
    font-size: 110%;
}

.button-xlarge {
    font-size: 125%;
}